<div class="bg-dark fixed-bottom position-static d-flex">
  <div>
    <p class="text-white">  227B HUB University Park, PA 16802</p>
    <p class="text-white">  Email:homecoming@psu.edu</p>
    <p class="text-white">  Phone: (814) 863-4299</p>
  </div>
  <div class="col-lg-9">
    <h1 class="text-center text-white">PSU Homecoming</h1>
  </div>

  <div >
    <p class="text-left text-white">PSU Homecoming</p>
  </div>
</div>

</body>
</html>
