<%- include ("partials/header.ejs")%>


<div class = "background-color">



<form class="" action="/download/inventory" method="post">
<div class="large-button background-color card-border pt-3 pb-3 pl-2 pt-3 text-center " >
<div class = "pb-5 pt-5">
  <div class = "pb-4 pt-4">
  <h1  > Download Existing Inventory Data</h1>
  <button type="submit" class = "btn btn-primary" name="button">Download</button>
    </div>
  </div>
</div>
</form>




<form class="" action="/download/requestedItems" method="post">
<div class="large-button background-color card-border pt-3 pb-3 pl-2 pt-3 text-center " >
<div class = "pb-5 pt-5">
  <div class = "pb-5 pt-5">

  <h1  > Download Requested Items Info</h1>
  <button  type="submit" class = "btn btn-primary" name="button">Download</button>

    </div>
  </div>
</div>
</form>







</div>






<%- include ("partials/footer.ejs")%>
