<%- include ("partials/header.ejs")%>










<div class="bg-dark fixed-top position-static d-flex">








  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button> -->






  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Request</a>
      <a class="dropdown-item" href="#">Place Order</a>
      <a class="dropdown-item" href="#">Order Summary</a>
      <!-- <div class="dropdown-divider"></div> -->
    </div>
  </div>






  <!-- Collapsible content -->

  <!-- Collapsible content -->

  <!-- Search form -->


  <h1 class="text-white mx-auto">Kanto</h1>

  <form class="form-inline d-flex justify-content-center md-form form-sm">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
      aria-label="Search">
    <button class="fas fa-search" type = "submit" aria-hidden="true"></button>
  </form>







</div>








<input type="text" id="member" name="member" value="">Number of members: (max. 10)<br />
    <a href="#" id="filldetails" onclick="addFields()">Fill Details</a>
    <div id="container"/>

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators showing how many slides there are-->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Item 1</h3>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Item 2</h3>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Item 3</h3>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->




























<div class="bg-dark fixed-bottom position-static d-flex">
  <div>
    <p class="text-white">  227B HUB University Park, PA 16802</p>
    <p class="text-white">  Email:homecoming@psu.edu</p>
    <p class="text-white">  Phone: (814) 863-4299</p>
  </div>
  <div class="col-lg-9">
    <h1 class="text-center text-white">PSU Homecoming</h1>
  </div>

  <div >
    <p class="text-left text-white">PSU Homecoming</p>
  </div>
</div>

<!-- Press -->


<%- include ("partials/footer.ejs")%>
