<%- include ("partials/header.ejs")%>


<div class = "background-color">

<a href= "editInventory">
<div class="large-button background-color card-border pt-3 pb-3 pl-2 pt-3 text-center " >


<div class = "pb-5 pt-5">
  <div class = "pb-4 pt-4">
  <h1  > Edit Inventory</h1>

    </div>
  </div>
</div>
</a>




<a href= "addInventory">
<div class="large-button background-color card-border pt-3 pb-3 pl-2 pt-3 text-center " >


<div class = "pb-5 pt-5">
  <div class = "pb-5 pt-5">
  <h1  > Add New Inventory</h1>

    </div>
  </div>
</div>
</a>




</div>






<%- include ("partials/footer.ejs")%>
