<%- include ("partials/header.ejs")%>










<div class="bg-dark fixed-top position-static d-flex">








  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button> -->






  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Request</a>
      <a class="dropdown-item" href="#">Place Order</a>
      <a class="dropdown-item" href="#">Order Summary</a>
      <!-- <div class="dropdown-divider"></div> -->
    </div>
  </div>






  <!-- Collapsible content -->

  <!-- Collapsible content -->

  <!-- Search form -->


  <h1 class="text-white mx-auto">Kanto</h1>

  <form class="form-inline d-flex justify-content-center md-form form-sm">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
      aria-label="Search">
    <button class="fas fa-search" type = "submit" aria-hidden="true"></button>
  </form>



<form class="" action="index.html" method="post">
  <input type="text" name="" value="">
</form>





<div class="bg-dark fixed-bottom position-static d-flex">
  <div>
    <p class="text-white">  227B HUB University Park, PA 16802</p>
    <p class="text-white">  Email:homecoming@psu.edu</p>
    <p class="text-white">  Phone: (814) 863-4299</p>
  </div>
  <div class="col-lg-9">
    <h1 class="text-center text-white">PSU Homecoming</h1>
  </div>

  <div >
    <p class="text-left text-white">PSU Homecoming</p>
  </div>
</div>

<!-- Press -->


<%- include ("partials/footer.ejs")%>
