<%- include ("partials/header.ejs")%>


<!-- THIS IS A CAROUSEL -->
<!-- //-------------------------------------------------------------------------------------------------------------- -->
<!--Carousel Wrapper-->



<!-- THIS IS THE ITEM REQUEST FORM -->
<!-- //-------------------------------------------------------------------------------------------------------------- -->
<div  class="background-color">
  <h1 class="pb-3 text-center">Request an Item</h1>


 <form class="text-center card-width card-color card-border pt-3  pb-3" action="/request" method="post"
   <input class = "mb-3" type="email" name="test-email" placeholder = "Enter Your Email" >

   <input class = "mb-3" type="text" name="name" placeholder = "Enter Your Name">
   <input class = "mb-3" type="email" name="email" placeholder = "Enter Your Email" >

   <input  class = "mb-3" type="text" name="committee" placeholder = "Committee Name">
   <input class = "mb-3" type="text" name="event" placeholder = "Event Needed for">
   <input  class = "mb-3" type="text" name="itemCode" placeholder = "Item code">
   <input class = "mb-3" type="text" name="quantity" placeholder = "Quantity of Item">
   <input class = "mb-3" type="text" name="itemDescription" placeholder = "Description Of Item">



 <div class="text-center mt-5 pb-5 "><!-- left div-->
   <button class="btn btn-primary" type="Submit" name="button">Request</button>
 </div>

 </form>
</div>



</div>







<!-- //-------------------------------------------------------------------------------------------------------------- -->





<%- include ("partials/footer.ejs")%>
